[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
channels = "==3.0.4"
channels-redis = "*"
djangochannelsrestframework = "*"
djangorestframework = "*"
django-rename-app = "*"
django-cors-headers = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"
daphne = "*"
dj-database-url = "*"
django-heroku = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
