.App {
  text-align: center;
}

.rcw-client .rcw-message-text {
  background-color: #0084ff !important;
  color: white;
}

.rcw-title {
  font: 30px Arial, sans-serif;
  font-weight: 800;
}

.rcw-header span {
  font: 16px Arial, sans-serif;
}
