.main-navbar span {
  font-weight: lighter;
}

.main-container {
  max-width: 200% !important;
  max-height: 100% !important;
}

.user-chat-container {
  display: flex !important;
  justify-content: right !important;
  flex-direction: column;
}

.icons {
  cursor: pointer;
  color: #00b2ff;
}

.card-header {
  margin-bottom: 1rem;
}

.publisher {
  margin-top: 1rem;
}
